@font-face {
	font-family:SF-Compact-Display-Bold;
	src:url(../../font/SF-Compact-Display-Bold.otf);
}
@font-face {
	font-family:SF-Compact-Display-Semibold;
	src:url(../../font/SF-Compact-Display-Semibold.otf);
}
@font-face {
	font-family:SF-Compact-Display-Regular;
	src:url(../../font/SF-Compact-Display-Regular.otf);
}

@font-face {
	font-family:OpenSans-Bold;
	src:url(../../font/OpenSans-Bold.ttf);
}
@font-face {
	font-family:OpenSans-SemiBold;
	src:url(../../font/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family:OpenSans-Regular;
	src:url(../../font/OpenSans-Regular.ttf);
}

body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
	overflow:hidden;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  MAIN COLORS  ----------*/
	$colorMain_1: #4CD964; /* GREEN */
	$colorMain_2: #3EC755; /* DARK GREEN */
	$colorMain_3: #75F5F4; /* STROMBOLI */
	$colorMain_4: #188E9B; /* SPRAY */
	$colorMain_5: #E0FBFB; /* HUMMING BIRD */
	$colorMain_6: #188E9B; /* DOLLY */
	$colorMain_7: #F8F8F8; /* ALABASTER */

	$colorMain_8: #121820; /* BUNKER */
	$colorMain_9: #606469; /* GREY */
	$colorMain_10: #FFF88D; /* YELLOW */


/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_1_Bold: SF-Compact-Display-Bold;
	$font_1_SemiBold: SF-Compact-Display-Semibold;
	$font_1_Regular: SF-Compact-Display-Regular;

	$font_2_Bold: OpenSans-Bold;
	$font_2_SemiBold: OpenSans-SemiBold;
	$font_2_Regular: OpenSans-Regular;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		/*----------  DESKTOP  ----------*/
		$h1_textsize_desktop: 142px;
		$h1_lineheight_desktop: 110px;

		/*----------  MOBILE  ----------*/
		$h1_textsize_mobile: 80px;
		$h1_lineheight_mobile: 80px;


	/*----------  H2  ----------*/
		/*----------  DESKTOP  ----------*/
		$h2_textsize_desktop: 78px;
		$h2_lineheight_desktop: 93px;

		/*----------  MOBILE  ----------*/
		$h2_textsize_mobile: 50px;
		$h2_lineheight_mobile: 50px;


	/*----------  H3  ----------*/
		/*----------  DESKTOP  ----------*/
		$h3_textsize_desktop: 54px;
		$h3_lineheight_desktop: 65px;

		/*----------  MOBILE  ----------*/
		$h3_textsize_mobile: 34px;
		$h3_lineheight_mobile: 40px;


	/*----------  H4  ----------*/
		/*----------  DESKTOP  ----------*/
		$h4_textsize_desktop: 40px;
		$h4_lineheight_desktop: 48px;

		/*----------  MOBILE  ----------*/
		$h4_textsize_mobile: 28px;
		$h4_lineheight_mobile: 33px;


	/*----------  H5  ----------*/
		/*----------  DESKTOP  ----------*/
		$h5_textsize_desktop: 28px;
		$h5_lineheight_desktop: 34px;

		/*----------  MOBILE  ----------*/
		$h5_textsize_mobile: 18px;
		$h5_lineheight_mobile: 27px;


	/*----------  H6  ----------*/
		/*----------  DESKTOP  ----------*/
		$h6_textsize_desktop: 18px;
		$h6_lineheight_desktop: 27px;



	/*----------  QUOTE  ----------*/
		/*----------  DESKTOP  ----------*/
		$quote_textsize_desktop: 24px;
		$quote_lineheight_desktop: 36px;



	/*----------  PARAGRAPH BIG  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphBig_textsize_desktop: 20px;
		$paragraphBig_lineheight_desktop: 24px;

		/*----------  MOBILE  ----------*/
		$paragraphBig_textsize_mobile: 20px;
		$paragraphBig_lineheight_mobile: 36px;


	/*----------  PARAGRAPH MEDIUM  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphMedium_textsize_desktop: 18px;
		$paragraphMedium_lineheight_desktop: 27px;


	/*----------  PARAGRAPH SMALL  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphSmall_textsize_desktop: 16px;
		$paragraphSmall_lineheight_desktop: 24px;


	/*----------  LINK BIG ----------*/
		$linkBig_textsize_desktop: 18px;
		$linkBig_lineheight_desktop: 24px;

	/*----------  LINK MEDIUM ----------*/
		$linkMedium_textsize_desktop: 14px;
		$linkMedium_lineheight_desktop: 19px;

/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*----------  H1  ----------*/
		@mixin styleH1{
			font-family: $font_1_Bold;
			color: $colorMain_8;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h1_textsize_desktop;
				line-height: $h1_lineheight_desktop;
			}

			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h1_textsize_mobile;
				line-height: $h1_lineheight_mobile;
			}	
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			font-family: $font_1_Bold;
			color: $colorMain_8;		

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h2_textsize_desktop;
				line-height: $h2_lineheight_desktop;
			}

			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h2_textsize_mobile;
				line-height: $h2_lineheight_mobile;
			}
		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			font-family: $font_1_Bold;
			color: $colorMain_8;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h3_textsize_desktop;
				line-height: $h3_lineheight_desktop;
			}

			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h3_textsize_mobile;
				line-height: $h3_lineheight_mobile;
			}
		}

		/*----------  H4  ----------*/
		@mixin styleH4{
			font-family: $font_1_Bold;
			color: $colorMain_8;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h4_textsize_desktop;
				line-height: $h4_lineheight_desktop;
			}

			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h4_textsize_mobile;
				line-height: $h4_lineheight_mobile;
			}
		}

		/*----------  H5  ----------*/
		@mixin styleH5{
			font-family: $font_1_Bold;
			color: $colorMain_8;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h5_textsize_desktop;
				line-height: $h5_lineheight_desktop;
			}

			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h5_textsize_mobile;
				line-height: $h5_lineheight_mobile;
			}
		}

		/*----------  H6  ----------*/
		@mixin styleH6{
			font-family: $font_1_Bold;
			color: $colorMain_8;
			font-size: $h6_textsize_desktop;
			line-height: $h6_lineheight_desktop;
		}


		/*----------  QUOTE  ----------*/
		@mixin styleQuote{
			font-family: $font_2_Regular;
			font-size: $quote_textsize_desktop;
			line-height: $quote_lineheight_desktop;

		}

		/*----------  PARAGRAPH BIG  ----------*/
		@mixin styleParagraphBig{
			color: $colorMain_9;
			font-family: $font_2_Regular;
			font-size: $paragraphBig_textsize_desktop;
			line-height: $paragraphBig_lineheight_desktop;
			/*
			@media screen and (min-width: $breakPoint_tablet){
				font-size: $paragraphBig_textsize_desktop;
				line-height: $paragraphBig_lineheight_desktop;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphSmall_textsize_desktop;
				line-height: $paragraphSmall_lineheight_desktop;
			}
			*/
		}

		/*----------  PARAGRAPH MEDIUM  ----------*/
		@mixin styleParagraphMedium{
			color: $colorMain_9;
			font-family: $font_2_Regular;
			@media screen and (min-width: $breakPoint_tablet){
				font-size: $paragraphMedium_textsize_desktop;
				line-height: $paragraphMedium_lineheight_desktop;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphSmall_textsize_desktop;
				line-height: $paragraphSmall_lineheight_desktop;
			}
		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphSmall{
			color: $colorMain_9;
			font-family: $font_2_Regular;
			font-size: $paragraphSmall_textsize_desktop;
			line-height: $paragraphSmall_lineheight_desktop;
		}

		/*----------  LINK BIG  ----------*/
		@mixin styleLinkBig{
			color: $colorMain_8;
			font-family: $font_2_Bold;
			font-size: $linkBig_textsize_desktop;
			line-height: $linkBig_lineheight_desktop;
		}

		/*----------  LINK MEDIUM  ----------*/
		@mixin styleLinkMedium{
			color: $colorMain_8;
			font-family: $font_2_Bold;
			font-size: $linkMedium_textsize_desktop;
			line-height: $linkMedium_lineheight_desktop;
		}




		/*----------  GRID  ----------*/

			/*----------  COMMON  ----------*/
			@mixin styleGrid-common{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 1  ----------*/
			@mixin styleGrid1{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_1;
				}
			}

			/*----------  SIZE 2  ----------*/
			@mixin styleGrid2{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_2;
				}
			}

			/*----------  SIZE 3  ----------*/
			@mixin styleGrid3{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_3;
				}
			}

			/*----------  SIZE 4  ----------*/
			@mixin styleGrid4{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_4;
				}
			}


		
		/*----------  BUTTON  ----------*/

			/*----------  STYLE 1  ----------*/
			@mixin buttonStyle1-common{
				overflow: hidden;
				padding: 0px 32px 0px 32px;
				position: relative;
				margin-right: auto;
				text-decoration: none;
				display: inline-flex;
				align-items: center;
				height: 80px;	
				clip-path: inset(0px round 24px 24px 24px 24px);
				&:before{
					content:'';
					position: absolute;
					left: 0px;
					top: 0px;
					height: 100%;
					width: 100%;
					border-radius: 24px !important;

					transform: translateX(calc(-100% + 82px));
					transition: transform 500ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
				}
				.container-btn-arrow{
					margin-left: 20px;
					transition: transform 500ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
					.btn-arrow{
						position: relative;
						width: 20px;
						transform: rotate(180deg);
					}
				}
				
				.btn-text{
					opacity: 0;
					font-size: $linkBig_textsize_desktop;
					line-height: $linkBig_lineheight_desktop;
					font-family: $font_2_Bold;
					position: relative;
					transition: all 0.1s ease;
				}
				&:hover{
					&:before{
						transform: translateX(0px);
					}
					.container-btn-arrow{
						transform: translateX(0px) !important;
					}
					.btn-text{
						transition-delay: 0.4s;
						transition: all 0.25s ease;
						opacity: 1;
					}
				}
				@media screen and (max-width: $breakPoint_mobile) {
					&:before{
						transform: translateX(0px);
					}
					.container-btn-arrow{
						transform: translateX(0px) !important;
					}
					.btn-text{
						transition-delay: 0.4s;
						transition: all 0.25s ease;
						opacity: 1;
					}
				}
			}

			@mixin buttonStyle1-color1{
				@include buttonStyle1-common;
				&:before{
					background-color: #FFFF;
				}
				.btn-text{
					color: $colorMain_8;
				}
				.container-btn-arrow{
					.btn-arrow{
						stroke: $colorMain_8;
					}
				}
			}

			@mixin buttonStyle1-color2{
				@include buttonStyle1-common;
				&:before{
					background-color: $colorMain_1;
				}
				.btn-text{
					color: #FFF;
				}
				.container-btn-arrow{
					.btn-arrow{
						stroke: #FFF;
					}
				}
			}

			/*----------  STYLE 2  ----------*/
			@mixin buttonStyle2-common{
				display: inline-flex;
				text-decoration: none;
			  	padding: 13px 26px 13px 26px;
			  	border-radius: 16px;
			  	transition: all 0.25s ease;
			  	justify-content: center;
				.btn-text{
					transition: all 0.25s ease;
					font-family: $font_2_Bold;
					font-size: $linkMedium_textsize_desktop;
					line-height: $linkMedium_lineheight_desktop;
				}
			}

			@mixin buttonStyle2-color1{
				@include buttonStyle2-common;
				background-color: $colorMain_1;
				
				.btn-text{
					color: #FFF;
				}
				&:hover{
					background-color: $colorMain_2;
				}
			}

			@mixin buttonStyle2-color2{
				@include buttonStyle2-common;
				background-color: #3B655B;
				.btn-text{
					color: #FFF;
				}
				&:hover{
					background-color: #2B4E46;
				}
			}

			@mixin buttonStyle2-color3{
				@include buttonStyle2-common;
				border: 1.5px solid #FFFFFF;
				.btn-text{
					color: #FFF;
				}
				&:hover{
					background-color: #FFF;
					.btn-text{
						color: #3B655B;
					}
				}
			}

			@mixin buttonStyle2-color4{
				@include buttonStyle2-common;
				border: 1.5px solid  #3B655B;
				.btn-text{
					color:  #3B655B
				}
				&:hover{
					background-color:  #3B655B;
					.btn-text{
						color: #FFF;
					}
				}
			}
	

/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */



/* ---------------------------------------------------------- */
/* ********************* COMMON SECTION ********************* */
/* ---------------------------------------------------------- */

.sectionAnim_container{

	.elAnim__slide {
	    opacity: 0;
	    transition: all 1000ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
	    transform: translateY(20px);
	}
	.elAnim__fade{
	  	opacity: 0;
	  	transition: all 1000ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
	}
	@for $i from 1 to 20 {
	    .anim__delayMedium_#{$i} { transition-delay: $i * 0.1s !important; }
	}
	@for $i from 1 to 20 {
	    .anim__delaySmall_#{$i} { transition-delay: $i * 0.05s !important; }
	}

	&.reach .elAnim__slide,
	&.active .elAnim__slide {
	    opacity: 1;
	    transform: translateY(0px);
	}
	&.reach .elAnim__fade,
	&.active .elAnim__fade {
	    opacity: 1;
	}
}

#cm-section-features{
	position: relative;
	background-color: #3B655B;
	.obj-1 {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 86.5px;
	}
	.wrapper{
		position: relative;
		@include styleGrid3;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 135px 0px 35px 0px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}
	.container-text{
		width: 340px;
		h2{
			@include styleH3;
			color: #FFF;
		}
	}
	.container-features{
		width: 470px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.feature{
			width: 200px;
			margin-bottom: 65px;
			.line{
				height: 2px;	
				width: 80px;
				margin-bottom: 24px;
			}
			h3{
				@include styleH5;
				color: #FFF;
				margin-bottom: 12px;
			}
			p{
				@include styleParagraphBig;
				color: rgba(255, 255, 255, 0.8);
			}
			&:nth-child(1){
				.line{
					background-color: #4CD964;
				}
			}
			&:nth-child(2){
				.line{
					background-color: #FFF88D;
				}
			}
			&:nth-child(3){
				.line{
					background-color: #75F5F4;
				}
			}
			&:nth-child(4){
				.line{
					background-color: #FFF;
				}
			}
		}
	}
}
@media screen and (max-width: $breakPoint_mobile) {
	#cm-section-features .obj-1 {
		display: none;
	}
	#cm-section-features .wrapper {
		padding-top: 75px;
		padding-bottom: 0;
	}
	#cm-section-features .container-features {
		margin-top: 50px;
	}
	#cm-section-features .container-features .feature {
		width: calc(50% - 15px);
	}
}

.cm-section-quotes{
	position: relative;

	.wrapper{
		position: relative;
		@include styleGrid1;
	}
	.obj-1{
		position: absolute;
		width: 90px;
		top: 0px;
		left: 0px;
	}
	.obj-2{
		position: absolute;
		width: 60px;
		right: 0px;
		bottom: 50px;
	}
	.container-quotes{
		position: relative;
		z-index: 1;
		padding: 90px 100px 100px 100px;
		min-height: 400px;
		.quote{
			display: none;
			.head{
				.name{
					@include styleH3;
				}
				.job{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					img{
						max-height: 26px;
						max-width: 70px;
						margin-right: 20px;
					}
					span{
						flex: 1;
						@include styleParagraphSmall;
					}
				}
			}
			.content{
				width: 740px;
				margin: 90px auto 0px auto;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;

				.container-pr{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					align-items: center;
					.pp{
						height: 166px;	
						width: 112px;	
						border-radius: 20px;
						margin-right: 80px;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;
					}
					.text{
						flex: 1;
						position: relative;
						.icn{
							position: absolute;
							width: 85px;
							top: -40px;
							left: -20px;
						}
						q{
							display: block;
							@include styleQuote;
							i{
								background-color: $colorMain_1;
							}
						}
					}
				}
				.container-action{
					margin-top: 55px;
					display: flex;
					flex-flow: row wrap;
					.container-nav{
						width: 112px;
						margin-right: 80px;
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						justify-content: center;
						.nav{
							cursor: pointer;
							height: 20px;
							svg{
								height: 100%;
							}
							&.nav-prev{
								margin: 0px 10px 0px 10px;
							}
							&.nav-next{
								margin: 0px 10px 0px 10px;
								svg{
									transform: rotate(180deg);
								}
							}
						}
					}
				}
				
			}

			&.anim-hide-top{
				.head{
					.name{
						transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.980);

						transform: translateY(-25px);
						opacity: 0;

						transition-delay: 0s;
					}
					.job{
						transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.980);
						
						transform: translateY(-25px);
						opacity: 0;

						transition-delay: 0.05s;
					}
				}
				.content{

					.container-pr{
						.pp{
							transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.980);
						
							transform: translateY(-25px) scaleX(0.95) scaleY(1.05);
							opacity: 0;

							transition-delay: 0.1s;
						}
						.text{
							
							.icn{
								transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.980);
						
								transform: translateY(-25px);
								opacity: 0;

								transition-delay: 0.15s;
							}
							q{
								transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.980);
						
								transform: translateY(-25px);
								opacity: 0;

								transition-delay: 0.2s;
							}
						}
					}
					.container-action{
						
						.container-button{
							transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.980);
						
							transform: translateY(-25px);
							opacity: 0;

							transition-delay: 0.25s;
						}
					}
					
				}
			}

			&.anim-show{
				.head{
					.name{
						transition: all 500ms cubic-bezier(0.000, 0.995, 1.000, 0.980);
						transition-delay: 0s;

						transform: translateY(0px);
						opacity: 1;
					}
					.job{
						transition: all 500ms cubic-bezier(0.000, 0.995, 1.000, 0.980);
						transition-delay: 0.05s;

						transform: translateY(0px);
						opacity: 1;
					}
				}
				.content{

					.container-pr{
						.pp{
							transition: all 500ms cubic-bezier(0.000, 0.995, 1.000, 0.980);
							transition-delay: 0.1s;

							transform: translateY(0px);
							opacity: 1;
						}
						.text{
							
							.icn{
								transition: all 500ms cubic-bezier(0.000, 0.995, 1.000, 0.980);
								transition-delay: 0.15s;

								transform: translateY(0px);
								opacity: 1;
							}
							q{
								transition: all 500ms cubic-bezier(0.000, 0.995, 1.000, 0.980);
								transition-delay: 0.2s;

								transform: translateY(0px);
								opacity: 1;
							}
						}
					}
					.container-action{
						
						.container-button{
							transition: all 500ms cubic-bezier(0.000, 0.995, 1.000, 0.980);
							transition-delay: 0.25s;

							transform: translateY(0px);
							opacity: 1;
						}
					}
					
				}
			}

			&.anim-hide-bottom{
				.head{
					.name{
						transform: translateY(25px);
						opacity: 0;
						
					}
					.job{
						transform: translateY(25px);
						opacity: 0;
					}
				}
				.content{

					.container-pr{
						.pp{
							transform: translateY(25px) scaleX(0.95) scaleY(1.05);
							opacity: 0;
						}
						.text{
							
							.icn{
								transform: translateY(25px);
								opacity: 0;
							}
							q{
								transform: translateY(25px);
								opacity: 0;
							}
						}
					}
					.container-action{
						
						.container-button{
							transform: translateY(25px);
							opacity: 0;
						}
					}
					
				}
			}

			&.displayBlock{
				display: block;
			}

		}
	}

	&.reach{
		opacity: 1;
	}
	
}
@media screen and (max-width: $breakPoint_mobile) {
	.cm-section-quotes{

		.obj-1{
			display: none;
		}
		.obj-2{
			display: none;
		}
		.container-quotes{
			padding: 60px 0px 60px 0px;

			.quote{
				.content{
					width: 100%;
					margin-top: 50px;
					.container-pr{
						.pp{
							margin-right: auto;
							margin-left: auto;
						}
						.text{
							margin-top: 50px;
							width: 100%;
							flex: initial;
						}
					}
					.container-action{
						width: 100%;
						margin-top: 50px;
						justify-content: space-between;
						.container-nav{
							order: 2;
							margin-right: 0px;
						}
					}

				}
			}
		}
	}
}

#cm-section-banner{
	position: relative;
	background-color: $colorMain_2;
	padding: 135px 0px 120px 0px;
	.wrapper{
		width: 800px;
		margin: auto;
	}
	.container-text{
		position: relative;
		text-align: center;
		h2{
			@include styleH3;
			color: #FFF;
			
		}
		.container-button{
			a{
				margin-top: 35px; /* NOPE */
				transition: transform 500ms cubic-bezier(0.070, 0.965, 0.560, 1.000); /* NOPE */
				margin-left: 110px;
				@include buttonStyle1-color1;
				&:hover{
					transform: translateX(-55px); /* NOPE */
				}
				@media screen and (max-width: $breakPoint_mobile) {
					&:hover{
						transform: none;
					}
				}
			}
		}
		
	}
	.bg-desktop-medium,
	.bg-desktop-big{
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
	}
	@media screen and (max-width: 1400px){
		.bg-desktop-medium{
			display: block;
		}
		.bg-desktop-big{
			display: none;
		}
	}

	@media screen and (min-width: 1400px){
		.bg-desktop-medium{
			display: none;
		}
		.bg-desktop-big{
			display: block;
		}
	}

	@media screen and (max-width: $breakPoint_mobile) {
		padding: 100px 25px 80px 25px;
		.wrapper{
			width: 100%;
		}

		.bg-desktop-medium{
			display: none;
		}
		.bg-desktop-big{
			display: none;
		}

		.container-text{
			.container-button{
				a{
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}


/* -------------------------------------------------------------- */
/* ********************* END COMMON SECTION ********************* */
/* -------------------------------------------------------------- */