@import 'common.scss';
@import 'header.scss';

/*==========================================
=            PAGE MAIN CUSTOMERS           =
=========================================*/

#section-cover{
	position: relative;
	.wrapper{
		position: relative;
		@include styleGrid1;
		padding-top: 150px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	.container-background{
		position: absolute;
		top: 0px;
		left: 100px;
		width: 672px;
		height: 100%;
		overflow: hidden;
		
		.background{
			height: 100%;
			width: 100%;
			background-color: $colorMain_2;
		}
	}
	.container-text{
		position: relative;
		z-index: 1;
		width: 590px;
		padding-bottom: 80px;
		margin-right: 115px;
		h2{
			@include styleH4;
			color: $colorMain_3;
		}
		h1{
			margin-top: 30px;
			@include styleH2;
		}
		p{
			margin-top: 30px;
			width: 360px;
			border-left: 2px solid $colorMain_3;
			padding-left: 38px;
			@include styleParagraphBig;
			color: rgba($colorMain_8, 0.8); 
			margin-left: auto;
		}
		.container-button{
			width: 360px;
			margin: 70px 0px 0px auto;
			a{
				@include buttonStyle1-color1;
			}
		}
	}
	.container-illu{
		height: 618px;
		flex: 1;
		transform: translateY(-40px) translateX(-30px);
	}
}
/* ANIM */
#section-cover{
	.container-background{
		.background{
			transition: all 1000ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
			transform: translateY(-100%);
		}
	}
	.container-text{
		h2{
			transition: all 1000ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
			transform: translateY(60px);
			opacity: 0;
		}
		h1{
			transition: all 1000ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
			transform: translateY(60px);
			opacity: 0;
		}
		p{
			transition: all 1000ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
			transform: translateY(60px);
			opacity: 0;
		}
		.container-button{
			transition: all 1000ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
			transform: translateY(60px);
			opacity: 0;
		}
	}
	.container-illu{
	}

	&.ready{
		.container-background{
			.background{
				transition-delay: 0s;
				transform: translateY(0%);
			}
		}
		.container-text{
			h2{
				transition-delay: 0.1s;
				transform: translateY(0px);
				opacity: 1;
			}
			h1{
				transition-delay: 0.2s;
				transform: translateY(0px);
				opacity: 1;
			}
			p{
				transition-delay: 0.3s;
				transform: translateY(0px);
				opacity: 1;
			}
			.container-button{
				transition-delay: 0.4s;
				transform: translateY(0px);
				opacity: 1;
			}
		}
		.container-illu{
		}
	}
}

.cm-section-quotes {
	&.section-quotes-1 {
		.container-background {
			position: absolute;
			right: 0px;
			top: 0px;
			width: 428px;
			height: 100%;
			background-color: $colorMain_5;
			.background{
				position:absolute;
				left: 0;
				bottom: 0;
				width: 100%;
			}
		}
		.container-quotes{
			.quote{
				.content{
					.container-action{
						.container-nav{
							.nav{
								svg{
									stroke: #000;
								}
							}
						}
						.container-button{
							a{
								@include buttonStyle2-color2;
							}
						}
					}
				}
			}
		}
	}
	&.section-quotes-2 {
		background-color: #3B655B;
		.container-quotes{
			.quote{
				.head{
					.name{
						color: #FFF;
					}
					.job{
						img{
							opacity: 0.7;
						}
						span{
							
							color: rgba(255, 255, 255, 0.7);
						}
					}
				}
				.content{
					.container-pr{
						.text{
							q{
								color: #FFF;
							}
						}
					}
					.container-action{
						.container-nav{
							.nav{
								svg{
									stroke: #FFF;
								}
							}
						}
						.container-button{
							a{
								@include buttonStyle2-color3;
							}
						}
					}
				}
			}
		}
	}
}

#section-articles{
	position: relative;
	margin-top: 170px;
	.wrapper{
		position: relative;
		@include styleGrid3;
		padding-bottom: 135px;
		&:before {
			content: " ";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: #D0D0D0;
		}
	}
	.container-text{
		text-align: center;
		h2{
			@include styleH3;
		}
		p{
			margin-top: 15px;
			@include styleParagraphBig;
		}
	}
	.container-thumbnails{
		margin-top: 60px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		.thumbnail{
			background-color: #FFFFFF;
			box-shadow: 0 20px 40px 0 rgba(0,0,0,0.16);
			border-radius: 40px;
			width: 300px;
			height: 410px;
			padding: 38px 38px 30px 38px;
			.cover{
				width: 100%;
				height: 165px;
				border-radius: 26px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			.infos{
				margin-top: 22px;
				.logo{
					max-height: 23px;
					max-width: 75px;
				}
				p{
					margin-top: 20px;
					overflow: hidden;
				    display: -webkit-box;
				    -webkit-line-clamp: 3;
				    -webkit-box-orient: vertical; 
				    @include styleParagraphSmall;
				}
				a{
					margin-top: 15px;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					text-decoration: none;
					span{
						@include styleLinkBig;
					}
					.arrow{
						height: 10px;
						stroke: $colorMain_8;
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}

#section-platforms{
	margin-top: 100px;
	position: relative;
	.wrapper{
		@include styleGrid1;
	}
	.container-text{
		max-width: 720px;
		margin: auto;
		text-align: center;
		position: relative;
		h2{
			@include styleH3;
		}
	}
	.container-platforms{
		position: relative;
		width: 700px;
		margin: auto;
		.container-el{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			margin-top: 200px;
			padding-bottom: 25px;
			.el{
				position: relative;
				width: 96px;
				text-align: center;
				margin-bottom: 130px;
				margin-right: 40px;
				&:nth-child(5),
				&:nth-child(10),
				&:last-child{
					margin-right: 0px;
				}
				img{
					max-height: 40px;
					max-width: 60px;
					position: relative;
					z-index: 1;
				}
				&:before{
					content: '';
					position: absolute;
					width: 100%;
					border-radius: 24px;
					top: 50%;
					left: 50%;
					background-color: #FFF;
					transform: translate(-50%, -50%);
				}
				&:nth-child(1){
					top: -100px;
					&:before{
						height: 154px;
						box-shadow: 0 13px 19px 0 rgba(66,133,244,0.16);
					}
				}
				&:nth-child(2){
					top: -50px;
					&:before{
						height: 112px;
						box-shadow: 0 13px 19px 0 rgba(149,191,70,0.16);
					}
				}
				&:nth-child(3){
					top: 0px;
					&:before{
						height: 142px;
						box-shadow: 0 13px 19px 0 rgba(204,33,49,0.16);
					}
				}
				&:nth-child(4){
					top: -50px;
					&:before{
						height: 128px;
						box-shadow: 0 13px 19px 0 rgba(227,116,0,0.16);
					}
				}
				&:nth-child(5){
					top: -100px;
					&:before{
						height: 142px;
						box-shadow: 0 13px 19px 0 rgba(0,0,0,0.16);
					}
				}
				&:nth-child(6){
					top: -80px;
					&:before{
						height: 112px;
						box-shadow: 0 13px 19px 0 rgba(236,103,55,0.16);
					}
				}
				&:nth-child(7){
					top: -30px;
					&:before{
						height: 112px;
						box-shadow: 0 13px 19px 0 rgba(155,92,143,0.16);
					}
				}
				&:nth-child(8){
					top: 20px;
					&:before{
						height: 142px;
						box-shadow: 0 13px 19px 0 rgba(3,54,61,0.16);
					}
				}
				&:nth-child(9){
					top: -30px;
					&:before{
						height: 112px;
						box-shadow: 0 13px 19px 0 rgba(255,79,31,0.16);
					}
				}
				&:nth-child(10){
					top: -80px;
					&:before{
						height: 112px;
						box-shadow: 0 13px 19px 0 rgba(255,79,31,0.16);
					}
				}
				
			}
		}
	}
}

@media screen and (max-width: $breakPoint_mobile) {
	#section-cover {
		padding-bottom: 50px;
	}
	#section-cover .wrapper {
		flex-direction: column;
	}
	#section-cover .container-background {
		left: 0;
		width: 270px;
		height: 777px;
	}
	#section-cover .container-text {
		width: 100%;
		margin-right: 0;
		padding-bottom: 0px;
	}
	#section-cover.ready .container-text h1 {
		hyphens: auto;
	}
	#section-cover .container-illu {
		width: 100%;
		height: 550px;
		transform: translateY(-25px) translateX(-10px);
	}

	#section-articles {
		margin-top: 150px;
	}
	#section-articles .wrapper {
		padding: 0;
	}
	#section-articles .wrapper:before {
		left: 25px;
		width: calc(100% - 50px);
	}
	#section-articles .container-text {
		padding-left: 25px;
		padding-right: 25px;
	}
	#section-articles .container-thumbnails {
		display: block;
		white-space: nowrap;
		overflow-x: scroll;
		padding-top: 10px;
    	padding-bottom: 100px;
	}
	#section-articles .container-thumbnails .thumbnail {
		display: inline-block;
		margin-right: 20px;
		&:first-child {
			margin-left: 20px;
		}
	}

	#section-platforms .container-platforms {
		width: 100%;
	}
	#section-platforms .container-platforms .container-el {
		margin-top: 75px;
		justify-content: space-between;
	}
	#section-platforms .container-platforms .container-el .el {
		width: calc(100% / 3 - 20px);
		margin-bottom: 150px;
		margin-right: 0;
	}
	@for $i from 1 through 20 {
		#section-platforms .container-platforms .container-el .el:nth-child(#{$i}) {
			top: 0;
		}
	}
	#section-platforms .container-platforms .container-el .el:nth-child(3n + 2) {
		top: 50px
	}
}

/*==============================================
=            END PAGE MAIN CUSTOMERS           =
==============================================*/

@import 'footer.scss';