footer{
	position: relative;
	background-color: $colorMain_8;


	.head{
		padding: 50px 0px 50px 0px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		.logo{
			width: 250px;
		}
	}

	.container-links{
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		.wrapper{
			@include styleGrid1;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			padding: 40px 0px 50px 0px;
		}
		.col{
			ul{
				list-style: none;
				li{
					&:nth-child(1){
						@include styleH6;
						color: #FFF;
						a{
							@include styleH6;
							color: #FFF;
						}
						margin-bottom: 25px;
					}
					&:not(:nth-child(1)){
						a{
							@include styleParagraphSmall;
							color: #DCDCDC;
							transition: all 0.25s ease;
							&:hover{
								color: #FFF;
							}
						}
						&:not(:last-child){
							margin-bottom: 10px;
						}
					}
					a{
						cursor: pointer;
						text-decoration: none;
					}
				}
				&:not(:last-child){
					margin-bottom: 60px;
				}
				.button{
					margin-top: 22px;
					@include buttonStyle2-color1;
				}
				.container-logos{
					position: relative;
					display: flex;
					align-items: center;
					a{
						text-decoration: none;
						display: block;
						&:not(:last-child){
							margin-right: 20px;
						}
						img{
							display: block;
							height: 42px;
							max-width: 100px;
							
						}
					}
					
				}
			}
		}
	}

	.container-newletters{
		overflow: hidden;
		padding: 40px 0px 60px 0px;
		position: relative;
		text-align: center;
		h4{
			@include styleH6;
			color: #FFF;
		}
		.container-input{
			margin: 20px auto 0px auto;
			padding: 0px 20px 0px 20px;
			height: 50px;
			width: 472px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			border: 1px solid #FFFFFF;
			border-radius: 25px;
			justify-content: space-between;
			align-items: center;
			.email{
				outline: none;
				flex: 1;
				background-color: transparent;
				@include styleParagraphSmall;
				color: #FFF;
				border: none;
			}
			.clear{
				cursor: pointer;
				height: 13px;
				width: 13px;
				position: relative;
				input{
					opacity: 0;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					z-index: 1;
				}
				.arrow{
					width: 13px;
					transform: rotate(180deg);
					stroke: #FFF;
				}
			}
			
		}
	}

	.foot{
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		height: 65px;
		.wrapper{
			height: 100%;
			@include styleGrid1;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			> *{
				&:not(:last-child){
					border-right: 1px solid rgba(255, 255, 255, 0.1);
				}
			}
		}
		.container-lg{
			position: relative;
			height: 100%;
			display: flex;
			flex-flow: row wrap;
			padding-right: 25px;
			.lg{
				//cursor: pointer;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				>img{
					width: 24px;
					margin-right:10px;
				}
				span{
					margin-right: 10px;
					@include styleParagraphSmall;
					color: #FFF;
				}
				/*
				svg{
					width: 6px;
				}
				*/
			}
			/*
			.dropdown{
				width: 140px;
				display: none;
				position: absolute;
				z-index: 1;
				border-radius: 5px;
				bottom: calc(100% + 15px);
				background-color: #FFF;
				bottom: calc(100% + 20px);
				left: 0px;
				padding: 10px;
				box-shadow: 0 10px 25px 0 rgba(56,70,122,0.15);
				.ch-lg{
					cursor: pointer;
					display: block;
					text-decoration: none;
					text-align: left;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					
					margin-bottom: 10px;
					>img{
						width: 24px;
						margin-right:10px;
					}
					span{
						flex: 1;
						@include styleParagraphSmall;
					}
					&:last-child{
						margin-bottom: 0px;
					}
					&:hover{
						opacity: 0.8;
					}
				}
			}
			&.open{
				.dropdown{
					display: block;
				}
			}*/
		}
		.link{
			height: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			text-decoration: none;
			padding: 0px 25px 0px 25px;
			span{
				font-family: $font_2_Regular;
				font-size: 13px;
				line-height: 18px;
				color: rgba(255, 255, 255, 0.7);
			}
		}
		.container-rs{
			height: 100%;
			flex: 1;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			padding-left: 35px;
			padding-right: 35px;
			.li-rs{
				flex: 1;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				a{
					display: block;
					text-decoration: none;
					&:not(:last-child){
						margin-right: 35px;
					}
					img{
						height: 18px;
					}
				}
			}
			.bdg{
				width: 83px;
			}
		}
		.cpr{
			padding-left: 25px;
			height: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			span{
				font-family: $font_2_Regular;
				font-size: 13px;
				line-height: 18px;
				color: rgba(255, 255, 255, 0.7);
			}
			
		}
		
	}
}


@media screen and (max-width: $breakPoint_mobile) {
	footer{
		
		.container-links{
			justify-content: space-between;
			.wrapper {
				padding-bottom: 0;
			}
			.col{
				width: 40%;
				&:not(:last-child){
					margin-bottom: 50px;
				}
			}
		}
		.container-newletters{
			padding-left: 25px;
			padding-right: 25px;
			padding-bottom: 40px;
			.container-input{
				width: 100%;
			}
		}
		.foot{
			padding-bottom: 30px;
			height: initial;
			.wrapper{
				height: initial;
				padding-bottom: 30px;
				>*{
					height: initial;
					width: 50%;
				}
				.container-lg{
					position: relative;
					width: 100%;
					height: 65px;
					padding-right: 0px;
					border-right: none;
					justify-content: center;
					&:after {
						content: " ";
						position: absolute;
						bottom: 0;
						left: -25px;
						width: calc(100% + 50px);
						height: 1px;
						background-color: rgba(255,255,255,0.1)
					}
				}
				.link{
					padding: 0;
					margin-top: 20px;
					border-right: none;
					span {
						display: inline-block;
						width: 100%;
						text-align: center;
					}
				}
				.container-rs{
					position: relative;
					padding-top: 25px;
					border-right: none;
					width: 100%;
					flex: initial;
					padding-right: 0px;
					padding-left: 0px;
					margin-top: 25px;
					.li-rs{
						a{
							img{
								height: 15px;
							}
						}
					}
					&:after {
						content: " ";
						position: absolute;
						top: 0;
						left: -25px;
						width: calc(100% + 50px);
						height: 1px;
						background-color: rgba(255,255,255,0.1)
					}
				}
				.cpr{
					width: 100%;
					margin-top: 25px;
					padding-left: 0px;
					justify-content: center;
				}
			}
		}
	}
}