#header-desktop{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
	.head{
		height: 70px;
		width: 100%;
		position: relative;
		transition: all 0.25s ease;
		.logo{
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
			img{
				height: 40px;
			}
		}
		.container-link{
			@include styleGrid3;
			padding-left: 50px;
			height: 100%;
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			li{
				&:not(:last-child){
					margin-right: 45px;
				}
				a{
					cursor: pointer;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					span{
						@include styleLink;
					}
					img{
						width: 7px;
						margin-left: 10px;
					}
				}
			}
		}
		.container-action{
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.signin{
				@include styleLink;
				text-decoration: none;
				margin-right: 35px;
			}
			.signup{
				@include buttonStyle2-color1;
			}
		}
	}
	&.scroll{
		.head{
			background-color: #FFF;
			box-shadow: 0 20px 29px 0 rgba(0,0,0,0.05);
		}
	}
}