/*=====================================
=            HEADER DESKTOP           =
=====================================*/
#header-desktop{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
	transition: all 0.25s ease;
	opacity: 0;
	.head{
		height: 70px;
		width: 100%;
		position: relative;
		z-index: 2;
		transition: all 0.25s ease;
		border-bottom: 1px solid transparent;
		.logo{
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
			
			img{
				@media screen and (min-width: 1400px) {
					height: 40px;
				}
				@media screen and (max-width: 1400px) {
					height: 30px;
				}
				
			}
		}
		.container-link{
			@include styleGrid3;
			padding-left: 50px;
			height: 100%;
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			li{
				position: relative;
				height: 100%;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				&:not(:last-child){
					margin-right: 45px;
				}
				a{
					text-decoration: none;
					cursor: pointer;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					span{
						@include styleLinkMedium;
						transition: all 0.25s ease;
					}
					img{
						width: 7px;
						margin-left: 10px;
					}
				}
				&:after{
					opacity: 0;
					content: '';
					position: absolute;
					left: 0px;
					bottom: 0px;
					width: 100%;
					height: 2px;
					background-color: $colorMain_1;
					transition: all 0.25s ease;
				}
				&.active,
				&:hover{
					&:after{
						opacity: 1;
					}
					a{
						span{
							color: $colorMain_1;
						}
					}
				}
			}
		}
		.container-action{
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.signin{
				@include styleLinkMedium;
				text-decoration: none;
				margin-right: 35px;
			}
			.signup{
				@include buttonStyle2-color1;
			}
		}
	}
	&.scroll{
		.head{
			background-color: #FFF;
			box-shadow: 0 20px 29px 0 rgba(0,0,0,0.05);
		}
	}
	&.open-dropdown-support,
	&.open-dropdown-product{
		.head{
			background-color: #FFF;
			box-shadow: none;
			border-color: #D0D0D0;
		}
	}
	&.open-dropdown-support{
		.dropdown-support{
			transform: translateY(0px);
			box-shadow: 0 11px 27px 0 rgba(0,0,0,0.15);
		}
	}
	&.open-dropdown-product{
		.dropdown-product{
			transform: translateY(0px);
			box-shadow: 0 11px 27px 0 rgba(0,0,0,0.15);
		}
	}
	&.open-dropdown-product{
		.head .container-link li .link-product{
			span{
				color: $colorMain_1;
			}
		}
	}
	&.open-dropdown-support{
		.head .container-link li .link-support{
			span{
				color: $colorMain_1;
			}
		}
	}
	.dropdown-product,
	.dropdown-support{
		position: absolute;
		left: 0px;
		top: 70px;
		width: 100%;
		background-color: #FFF;
		padding-top: 50px;
		padding-bottom: 60px;
		transition: all 300ms cubic-bezier(0.000, 0.965, 0.805, 0.995);
		transform: translateY(calc(-100% - 70px));
		.wrapper{
			@include styleGrid3;
		}
		ul{
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			li{
				width: calc(100% / 3);
				margin-bottom: 45px;
				a{
					cursor: pointer;
					display: block;
					width: 230px;
					text-decoration: none;
					h4{
						position: relative;
						@include styleLinkMedium;
						padding-left: 35px;
						transition: all 0.25s ease;
						&:before{
							content: '';
							height: 3px;
							border-radius: 3px;	
							width: 20px;
							position: absolute;
							left: 0px;
							top: 50%;
							transform: translateY(-50%);
							background-color: $colorMain_8;
							transition: all 0.25s ease;
						}
					}
					p{
						margin-top: 25px;
						@include styleParagraphSmall;
					}
					&:hover{
						h4{
							color: $colorMain_1;
							&:before{
								background-color: $colorMain_1;
							}
						}
					}
				}
			}
		}
	}
	&.style-white{
		&:not(.scroll){
			.head{
				.container-link{
					li{
						a{
							span{
								color: #FFF;
							}
						}
						&:after{
							background-color: #FFF;
						}
					}
				}
			}
			&.open-dropdown-product,
			&.open-dropdown-support{
				.head{
					.container-link{
						li{
							a{
								span{
									color: $colorMain_8;
								}
							}
						}
					}
				}
				
			}
		}	
	}

	&.show{
		opacity: 1;
	}
}
/*=========================================
=            END HEADER DESKTOP           =
=========================================*/

/*=====================================
=            HEADER MOBILE           =
=====================================*/
#header-mobile{
	display: none;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
	transition: transform 1s cubic-bezier(.23, 1, .32, 1);
	.head{
		transition: all 0.25s ease;
		position: relative;
		z-index: 1;
		padding: 30px 0px 30px 0px;
		.wrapper{
			@include styleGrid1;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			.logo{
				height: 40px;
				text-decoration: none;
				display: block;
				img{
					height: 100%;
					
					&:last-child {
						display: none;
					}
				}

				
				&.style-white {
					img {
						&:first-child {
							display: none;
						}
						&:last-child {
							display: block;
						}
					}
				}
			}
			.container-action{
				cursor: pointer;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				height: 35px;
				width: 35px;
				position: relative;
				.container-burger{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					height: 13px;
					width: 21px;
					.line{
						position: absolute;
						width: 100%;
						height: 3px;
						background-color: $colorMain_8;
						transition: all 250ms cubic-bezier(0.000, 1.100, 0.735, 0.920);
						&:nth-child(1){
							top: 0px;
							left: 0px;
						}
						&:nth-child(2){
							bottom: 0px;
							left: 0px;
						}
					}
				}
			}
		}	
	}
	.container-link{
		background-color: #FFF;
		position: absolute;
		top: 100%;
		width: 100%;
		box-shadow: 0 3px 22px 0 rgba(56,70,122,0.15);
		transform: translateY(calc(-100% - 100px));
		transition: all 300ms cubic-bezier(0.000, 0.965, 0.805, 0.995);
		padding: 60px 0px 50px 0px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		max-height: calc(100vh - 126px);
		.wrapper{
			@include styleGrid1;
			.list-link{
				position: relative;
				.link{
					cursor: pointer;
					margin-bottom: 35px;
					&:last-child{
						margin-bottom: 0px;
					}
					a{
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						text-decoration: none;
						span{
							font-size: 24px;
							line-height: 33px;
							font-family: $font_1_Bold;
							color: $colorMain_8;
						}
						.arrow{
							width: 11px;
							margin-left: 24px;
							transition: all 0.25s ease;
						}
					}
					.container-el{
						display: none;
						margin-top: 30px;
						.el{
							display: block;
							text-decoration: none;
							transition: all 0.25s ease;
							margin-bottom: 30px;
							&:last-child{
								margin-bottom: 0px;
							}
							h3{
								font-family: $font_1_Bold;
								font-size: 20px;
								line-height: 24px;
								color: $colorMain_9;
							}
						}
					}
					&.active{
						.arrow{
							transform: rotate(180deg);
						}
						.container-el{
							display: block;
						}
					}
				}
			}
		}
		.container-action{
			position: relative;
			margin-top:70px;
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			a{
				&:nth-child(1){
					@include buttonStyle1-color2;
				}
				&:nth-child(2){
					@include buttonStyle1-color1;
				}
			}
		}
	}
	&.open{
		.head{
			background-color: #FFF;
			box-shadow: 0 3px 22px 0 rgba(56,70,122,0) !important;
			.container-text .text{
				&:nth-child(1){
					opacity: 0;
				}
				&:nth-child(2){
					opacity: 1;
				}
			}
		}
		.head .container-burger .line{
			&:nth-child(1){
				transform: translateY(5px) rotate(45deg);
			}
			&:nth-child(2){
				transform: translateY(-5px) rotate(-45deg);
			}
		}
		.container-link{
			transform: translateY(0px);
		}
	}
	&.scroll{
		.head{
			background-color: #FFF;
			box-shadow: 0 3px 22px 0 rgba(56,70,122,0.15);
		}
	}
	&.open, &.scroll {
		.head .wrapper .logo {
			&.style-white {
				img {
					&:first-child {
						display: block;
					}
					&:last-child {
						display: none;
					}
				}
			}
			&.style-white ~ .container-action {
				.container-text .text {
					color: $colorMain_1;
				}
				.container-burger .line {
					background-color: $colorMain_8;
				}
			}
		}
	}
}
/*========================================
=            END HEADER MOBILE           =
=========================================*/

@media screen and (max-width: $breakPoint_mobile) {
	#header-desktop{
		display: none;
	}
	#header-mobile{
		display: block;
	}
}