@import 'common.scss';
@import 'header.scss';

/*==========================================
=            PAGE PRODUCT COMMON           =
==========================================*/



#section-cover{
	position: relative;
	padding: 150px 0px 0px 0px;
	margin-bottom: 140px;
	.obj-1{
		position: absolute;
		bottom: 50px;
		left: 10%;
		width: 43px;
	}
	.obj-2{
		position: absolute;
		width: 90px;
	}
	.obj-3{
		position: absolute;
		width: 190px;
		right: 0px;
	}
	.wrapper{
		width: 610px;
		margin: auto;
	}
	.container-text{
		h2{
			@include styleH4;
			color: $colorMain_1;
			margin-bottom: 30px;
		}
		h1{
			@include styleH2;
		}
	}
	.container-action{
		margin-top: 45px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.line{
			position: relative;
			flex: 1;
			height: 2px;
			margin-right: 60px;
			overflow: hidden;
			&:before {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform: translateX(-100%);
				transition: all .25s linear;
				transition-delay: .3s;
				background-color: $colorMain_1;
			}
		}
		a{
			@include buttonStyle1-color2;
		}
	}

	&.reach {
		.container-action {
			.line:before {
				transform: translateX(0);
			}
		}
	}
}

#section-features{
	.wrapper{
		@include styleGrid3;
	}
	.container-text{
		width: 700px;
		margin: auto;
		text-align: center;
		margin-bottom: 135px;
		h2{
			@include styleH3;
		}
		p{
			margin-top: 25px;
			@include styleParagraphBig;
		}
	}
	.container-el{
		.el{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			&:not(:last-child){
				margin-bottom: 110px;
			}
			.text{
				width: 380px;
				h3{
					@include styleH4;
				}
				p{
					@include styleParagraphMedium;
				}
				>p {
					margin-top: 15px;
				}
				ul{
					margin-top: 25px;
					list-style: none;
					li{
						position: relative;
						padding-left: 30px;
						display: flex;
						flex-flow: row wrap;
						align-items: flex-start;
						&:not(:last-child){
							margin-bottom: 10px;
						}
						.row {
							.icn{
								width: 16px;
								position: absolute;
								top: 5px;
								left: 0px;
							}
							h3{
								flex: 1;
								@include styleH6;
								span{
									@include styleParagraphMedium;
								}
							}
						}
						p {
							margin-top: 5px;
							transform: translateX(-30px);
						}
					}
				}
				.container-logos{
					margin-top: 50px;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					img{
						max-height: 30px;
						max-width: 140px;
						&:not(:last-child){
							margin-right: 60px;
						}
					}
				}
				a{
					@include buttonStyle2-color2;
					margin-top: 35px;
				}
			}
			.container-illu{
				position: relative;
				width: 500px;
				opacity: 0;
				transition: all 1s ease;
				.illu{
					width: 100%;
					height: 309px;
				}
				.illu-2 {
					width: 100%;
					height: 450px;
				}
				img{
					width: 100%;
				}
			}
			&.reach{
				.container-illu{
					opacity: 1;
				}
			}
		}
	}
}

#section-smartly{
	margin-top: 180px;
	position: relative;
	.wrapper{
		background-color: #F8F8F8;
		padding-top: 80px;
		padding-bottom: 80px;
		@include styleGrid1;
	}
	.container-text{
		width: 450px;
		margin: auto;
		text-align: center;
		margin-bottom: 40px;
		h2{
			@include styleH3;
		}
		p{
			margin-top: 25px;
			@include styleParagraphBig;
		}
	}
	.container-col{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		margin: auto;
		width: 900px;
		.col{
			width: 400px;
			h3{
				@include styleH4;
				margin-bottom: 45px;
				text-align: center;
			}
			.container-el{
				.el{
					width: 100%;
					height: 80px;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					border-bottom: 1px solid #D2D2D2;
					.icn{
						width: 25px;
						margin-right: 20px;

					}
					p{
						flex: 1;
						@include styleH6;
					}
					.status{
						margin-left: 40px;
						width: 30px;
					}
				}
			}
		}
	}
}

#section-pr{
	position: relative;
	margin-top: 100px;
	margin-bottom: 130px;
	.wrapper{
		@include styleGrid1;
		border-top: 1px solid #D0D0D0;
		padding-top: 90px;
	}
	.container-el{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		.el{
			width: 27%;
			.line{
				width: 80px;
				height: 3px;
				margin-bottom: 50px;
			}
			h4{
				@include styleH4;
				margin-bottom: 30px;
			}
			p{
				@include styleParagraphMedium;
			}
			&:nth-child(1){
				.line{
					background-color: $colorMain_1;
				}
			}

			&:nth-child(2){
				.line{
					background-color: #3B655B;
				}
			}

			&:nth-child(3){
				.line{
					background-color: $colorMain_3;
				}
			}
		}
	}
}

#section-carousel{
	position: relative;
	margin-top: 140px;
	margin-bottom: 140px;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	.container-img{
		height: 600px;	
		width: 600px;
		margin-right: 130px;
		position: relative;
		.container-el{
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			overflow: hidden;
			.el{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;

				&.hide{
					opacity: 1;
					clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
					transform: scale(1.1) translateX(20%);
					transition: all 1000ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
					z-index: 3;
				}
				&.active{
					transform: scale(1) translateX(0%);
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
					z-index: 2;
					opacity: 1;
					transition: all 1000ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
				}
				&.wait{
					transform: scale(1.1) translateX(-20%);
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
					z-index: 1;
					opacity: 0;
				}
			}
		}
	}
	.container-text{
		flex: 1;
		position: relative;
		width: 450px;
		height: 600px;
		.container-el {
			position: absolute;
			top: 85px;
			right: 0;
			width: 100%;
			height: 100%;
			.el {
				position: absolute;
				top: 0px;
				left: 0px;
				h2{
					@include styleH3;
					margin-bottom: 25px;
					i{
						color: $colorMain_1;
					}
				}
				p{
					@include styleParagraphBig;
				}

				&.hide{
					opacity: 0;
					transform: translateX(30%);
					transition: all 1000ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
					z-index: 3;
				}
				&.active{
					transform: translateX(0%);
					z-index: 2;
					opacity: 1;
					transition: all 1000ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
				}
				&.wait{
					transform:translateX(-30%);
					z-index: 1;
					opacity: 0;
				}
			}
		}
		.container-steps{
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.step{
				position: relative;
				width: 50px;
				height: 4px;
				border-radius: 2px;
				background-color: #DCDCDC;
				overflow: hidden;
				transition: all 1000ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
				&:not(:last-child){
					margin-right: 20px;
				}
				&:before{
					content: '';
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					background-color: $colorMain_1;
					border-radius: 2px;
					transform: translateX(-100%);
				}
				&.active{
					transform: translateX(20px) scaleX(2);
					&:before{
						transform: translateX(00%);
						transition: all 5000ms linear;
					}
				}
				&:nth-child(1){
					&.active{
						transform: translateX(50%) scaleX(2);
					}
				}
				&:not(:nth-child(1)){
					&.prev{
						transform: translateX(20px) translateX(-50%);
					}
					&.next{
						transform: translateX(20px) translateX(50%);
					}
				}
				
				&.next-first{
					transform: translateX(100%);
				}

			}
		}
	}
}

#section-logo {
	position: relative;
	.wrapper {
		padding-top: 160px;
		padding-bottom: 130px;
		@include styleGrid4;
	}
	.obj-1{
		position: absolute;
		bottom: 150px;
		left: 10%;
		width: 43px;
	}
	.obj-2{
		position: absolute;
		top: 100px;
		width: 60px;
	}
	.obj-3{
		position: absolute;
		top: 150px;
		width: 150px;
		right: 0px;
	}
	.container-text {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		h2 {
			@include styleH3;
		}
		.container-logo {
			margin-top: 40px;
			display: flex;
			align-items: center;
			.logo {
				padding: 60px 20px;
				border-radius: 24px;
				background-color: #FFF;
				box-shadow: 0 13px 19px 0 rgba(3,54,61,0.16);
				&:first-child {
					margin-right: 25px;
				}
				img {
					width: 140px;
				}
			}
		}
	}
}

#cm-section-features {
	margin-top: 140px;
}

/*==============================================
=            END PAGE PRODUCT COMMON           =
==============================================*/

@import 'footer.scss';